.chapterlist a:hover {
    color: black;
}

.book-link:hover {
    background: white;
    color: #0099ff;
}

.searched {
    animation: 2s writing ease-in;
}

@keyframes writing {
    0% {
        background-size: 0% 100%;
    }
    50% {
        background-size: 50% 100%;
    }
    100% {
        background-size: 100% 100%;
    }
}