.verse-title, .transliteration, .translation {
    color: rgb(225, 225, 225);
}

.transliteration, .translation {
    font-family: 'Amiri', sans-serif;
    font-size: 15px;
}

.chapterlist-container, .settings-container, header {
    background: rgb(215, 215, 215);
}

.title-container {
    margin-top: 50px;
}

header {
    position: fixed;
    top: 0;
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    padding-top: 10px;
    font-size: 20px;
}

header a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

header a:hover {
    color: #0099ff;
    transition: all 0.25s ease-in;
}

.bible-container {
    display: flex;
}

.grouping {
    font-size: 35px;
}

.chapterlist-container {
    position: fixed;
    top: 50px;
    height: 97vh;
    width: 23vw;
    overflow-y: scroll;
    z-index: 2;
}

.chapterlist a {
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    color: rgb(175, 175, 175);
    transition: all 0.25s ease-in;
}

.booklist {
    display: flex;
}

.left-side {
    width: 23vw;
    height: 100%;
}

.verses-container {
    background: rgb(200, 200, 200);
    text-align: right;
    padding-right: 25px;
    gap: 75px;
    padding-left: 25px;
}

.versemode {
    display: flex;
    flex-direction: column;
}

.versemode .verse-text {
    display: flex;
    flex-direction: column;
}

.versemode .hidden-text {
    display: inline-block;
}

.wide {
    width: 77vw;
}

.slim {
    width: calc(66vw - 75px);
}

.verse-title {
    font-size: 25px;
}

.verse-text {
    font-size: 25px;
    font-weight: normal;
    transition: all 0.25s ease-in;
}

.verse-text .cairo, .verse-text .gandhara {
    font-size: 25px;
}

.verse-flex {
    display: flex;
    flex-direction: row-reverse;
    gap: 25px;
    text-align: center;
}

.verse-number {
    font-weight: bold;
}

.hidden, .hidden-mode, .hidden-text {
    display: none;
}

td a {
    padding: 2px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.purpose {
    font-size: 20px;
}

.settings-container {
    width: 15vw;
    padding-left: 20px;
}

.settings-grouping {
    font-size: 27px;
}
.settings-subgrouping {
    font-size: 22px;
}

/* Base color pallete */
.law {
    background: rgba(255, 155, 0, 0.5);
}

.orange {
    color: rgba(255, 155, 0, 0.5);
}

.history {
    background: rgba(0, 255, 255, 0.5);
}

.lightblue {
    color: rgba(0, 255, 255, 0.5);
}

.poetry {
    background: rgba(255, 0, 255, 0.5);
}

.magenta {
    color: rgba(255, 0, 255, 0.5);
}

.majorprophets {
    background: rgba(11, 218, 81, 0.5);
}

.malachite {
    color: rgba(11, 218, 81, 0.5);
}

.prophets {
    background: rgba(0, 100, 0, 0.5);
}

.green {
    color: rgba(0, 100, 0, 0.5);
}

.gospels {
    background: rgba(255, 215, 0, 0.5);
}

.gold {
    color: rgba(255, 215, 0, 0.5);
}

.letters {
    background: rgba(255, 0, 0, 0.5);
}

.red {
    color: rgba(255, 0, 0, 0.5);
}

.otherletters {
    background: rgba(100, 0, 0, 0.5);
}

.darkred {
    color: rgba(100, 0, 0, 0.5);
}

.prophecy {
    background: rgba(100, 0, 200, 0.5);
}

.purple {
    color: rgba(100, 0, 200, 0.5);
}

/* RGB mode color palette */
.rgbmode .law {
    background: rgba(255, 0, 0, 0.5);
}

.rgbmode .orange {
    color: rgba(255, 0, 0, 0.5);
}

.rgbmode .history {
    background: rgba(255, 155, 0, 0.5);
}

.rgbmode .lightblue {
    color: rgba(255, 155, 0, 0.5);
}

.rgbmode .poetry {
    background: rgba(255, 255, 0, 0.5);
}

.rgbmode .magenta {
    color: rgba(255, 255, 0, 0.5);
}

.rgbmode .majorprophets {
    background: rgba(155, 255, 0, 0.5);
}

.rgbmode .malachite {
    color: rgba(155, 255, 0, 0.5);
}

.rgbmode .prophets {
    background: rgba(0, 255, 0, 0.5);
}

.rgbmode .green {
    color: rgba(0, 255, 0, 0.5);
}

.rgbmode .gospels {
    background: rgba(0, 255, 155, 0.5);
}

.rgbmode .gold {
    color: rgba(0, 255, 155, 0.5);
}

.rgbmode .letters {
    background: rgba(0, 155, 255, 0.5);
}

.rgbmode .red {
    color: rgba(0, 155, 255, 0.5);
}

.rgbmode .otherletters {
    background: rgba(0, 0, 255, 0.5);
}

.rgbmode .darkred {
    color: rgba(0, 0, 255, 0.5);
}

.rgbmode .prophecy {
    background: rgba(255, 0, 255, 0.5);
}

.rgbmode .purple {
    color: rgba(255, 0, 255, 0.5);
}

/* Scrollbar stuff */

::-webkit-scrollbar {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #0099ff;
    border-radius: 25px;
}

.options-container {
    background: rgb(175, 175, 175);
    border-radius: 25px;
    height: 25px;
    display: flex;
    justify-content: space-between;
}

.options-container button {
    background: transparent;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    border: none;
    transition: all 0.25s ease-in;
}

.options-container button.selected, .options-container button.selected-style, .options-container button.selected-pallete, button.selected-mode {
    background: rgb(200, 200, 200);
    border-radius: 25px;
}

.unselected {
    display: none;
}