.section-title {
    font-size: 35px;
}

.section-par {
    font-size: 25px;
}

.section-flex {
    display: grid;
    grid-template-columns: repeat(4, 24vw);
    grid-template-rows: repeat(1, 24vw);
}